html {
  box-sizing: border-box;
  /*color: #fcce00;*/
  color: white;
  background: black;
 font-family: 'IM Fell English', serif;
 /*background:url('image/background.png') -25px -50px;
 background-size: calc(100% + 50px);*/
}


*, *:before, *:after {
  box-sizing: inherit;
}

.couch1{
  position: absolute;
  top:250px;
  left: 15%;
  width: 500px;
  height: auto;
  z-index: -1;
}

.couch2{
  position: absolute;
  top:100px;
  left: 70%;
  width: 400px;
  height: auto;
  z-index: -3;
  transform: rotate(80deg);
}

.couchback{
  position: absolute;
  top:10px;
  left: 10%;
  width: 600px;
  height: auto;
  z-index: -3;
}


.images{
  position: absolute;
  top:225px;
  z-index: 3;
}

/*.lamp{
  position: absolute;
  top:450px;
  left: -10%;
  width: 300px;
  height: auto;
  z-index: -3;
  transform: rotate(-60deg);
}*/



.bigmama{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.intro{
  position:  absolute;
  top: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  letter-spacing: .5px;
  font-size: 30px;

  padding: 10px;

}
.intro2{
  position:  absolute;
  top: 155px;
  background-color: black;
  letter-spacing: .5px;
  font-size: 40px;
  color: #fcce00;
  /*padding: 10px;*/
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

}


b {
  color: #fcce00;
  font-size: 13px;
}




.light{
  width: 1000px;
  height: auto;
  position: absolute;
  top: -20%;
  left: 10%;
  transform: rotate(-20deg);
  z-index: -2;
}

.gt{
  width: 200px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 68%;
  transform: rotate(10deg);
  z-index: 1;
}





.basic{
  position: absolute;
  top: 310px;
  display: flex;
  background-color: black;
  letter-spacing: .5px;
  width: 370px;
  text-align: center;
    padding: 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
      font-size: 13px;


}

.basic2{
  padding: 10px;
  position: absolute;
  top: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  letter-spacing: .5px;
  width: 400px;
  text-align: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
    font-size: 13px;
    color: #fcce00;

}



.hunter{
  position:  absolute;
  top: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  letter-spacing: .5px;
    width: 370px;
    text-align: center;
    padding: 10px;
    border-radius: 25px;
font-size: 13px;
}

.bg_hunter{
    width: 70px;
    height: auto;
    position: absolute;
    transform: rotate(10deg);
    z-index: -1;
    animation: bg_hunter 6s infinite;

  }

  @keyframes bg_hunter {
    0% {left: 35%; top: 610px;}
    25% {left: 60%; top: 650px;}
    50% {left: 35%; top: 650px;}
    75% {left:60%; top: 610px;}
    100% {left: 35%; top: 610px;}
  }



.ghost{
  position: absolute;
  top: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  letter-spacing: .5px;
    width: 370px;
    text-align: center;
    padding: 10px;
font-size: 13px;
}

.bg_ghost{
  width: 50px;
  height: auto;
  position: absolute;
  top: 885px;
  left: 68%;
  z-index: -1;
  animation: bg_ghost 3s infinite;
}

@keyframes bg_ghost {
  0% {left: 48%;}
  50% {left: 40%;}
  100% {left: 48%;}
}

.bg_mouse1{
  width: 10px;
  height: auto;
  position: absolute;
  top: 885px;
  left: 85%;
  z-index: -1;
  animation: bg_mouse1 3s infinite;
}

@keyframes bg_mouse1 {
  0% {left: 65%;}
  50% {left: 57%;}
  100% {left: 65%;}
}

.bg_mouse2{
  width: 10px;
  height: auto;
  position: absolute;
  top: 885px;
  left: 60%;
  z-index: -1;
  animation: bg_mouse2 3s infinite;
}

@keyframes bg_mouse2 {
  0% {left: 40%;}
  50% {left: 32%;}
  100% {left: 40%;}
}


.bg_chair{
  width: 50px;
  height: auto;
  position: absolute;
  top: 885px;
  left: 55%;
  z-index: -2;
  animation: bg_chair 3s infinite;
}

@keyframes bg_chair {
  0% {left: 38%;}

  24% {left: 38%;}

  25% {left: 36%;}
  30% {left: 38%;}
  35% {left: 36%;}
  40% {left: 38%;}


  100% {left: 38%;}
}



.goodluck{
  position: absolute;
  top: 1060px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  letter-spacing: .5px;
    width: 250px;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    
}

.begin {
  position: absolute;
  margin-bottom: 200px;
  top: 1220px;
  display: flex;
  justify-content: center;
  align-items: center;
 width: 300px;
 height: 100px;
 border: 4px solid #fcce00;
 cursor: pointer;
 background-color: black;
 letter-spacing: 2px;
}
