html,body {
  box-sizing: border-box;
  color: white;
  margin:0;
  /*cursor: url(image/flashcursor.png)*/
  cursor:grabbing;
  font-family: 'IM Fell English', serif;


}

html{
  background-color: black;
}


*, *:before, *:after {
  box-sizing: inherit;
}

.boxforplay{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.playbox {
  display: flex;
  position: relative;
  width: 900px;
  height: 525px;
  border: #fcce00 1px dashed;

}

.ghost{
  /*display: none;*/
  visibility: hidden;
  z-index: 1;

}

.hunt{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  top: 0px;
  left: 0px;
  color: white;
  border: 1px solid white;
  z-index: 1;

}


.switch{

  border: 1px solid #fcce00;
  border-radius: 5px;
  width: 110px;
  height: 110px;
  margin: 20px;
  font-size: 10px;
  text-align: center;
  border-style: outset;
  cursor: grab;
}

h2{
  font-size: 15px;
  text-decoration: underline;
}

h1{
  font-size: 30px;
}

a {
    color: #fcce00;
    text-decoration: none;
    cursor: grab;
}


.instruction1{

  border-radius: 5px;
  width: 125px;
  height: 125px;
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 10px;
  text-align: center;


}


.instruction2{

  border: 1px solid #fcce00;
  border-radius: 5px;
  width: 140px;
  height: 190px;
  margin: 20px;
  margin-top: 0;
  font-size: 12px;
  text-align: center;
    padding: 10px;
    border-style: outset;

}



.bounds{
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /*border: 1px solid red;*/
  top: 0px;
  left: calc(50% + 450px);
  width: 180px;
  height: 580px;
  z-index: 1;
    /*margin-bottom: -50px;*/
}

.bounds2{
  position: absolute;
  /*border: 1px solid red;*/
  top: calc(50% + 263px);
  left: calc(50% - 450px);
  width: 1000px;
  height: 100px;
  z-index: 1;
}


.lamp {
  position: absolute;
  top: 350px;
  left: 300px;
  z-index: 4;
}

.chair {
  position: absolute;
  top: 300px;
  left: 100px;
  z-index: 4;
}

.ball {
  position: absolute;
  top: 220px;
  left: 450px;
  z-index: 4;
}

.plant {
  position: absolute;
  top: 100px;
  left: 200px;
  z-index: 4;
}

.horse {
  position: absolute;
  top: 250px;
  left: 800px;
  z-index: 4;
}

.frame {
  position: absolute;
  top: 150px;
  left: 600px;
  z-index: 4;
}

.couch {
  position: absolute;
  top: 400px;
  left: 600px;
  z-index: 4;
}

.closet {
  position: absolute;
  top: 250px;
  left: 250px;
  z-index: 4;
}


.toilet {
  position: absolute;
  top: 70px;
  left: 400px;
  z-index: 4;
}


.broom {
  position: absolute;
  top: 300px;
  left: 600px;
  z-index: 4;
}


.floorboard {
  /*border: 1px solid white;*/
  position: absolute;
  top: 50px;
  left: 790px;
  z-index: 4;
}

.floorboard2 {
  /*border: 1px solid white;*/
  position: absolute;
  top: 400px;
  left: 450px;
  z-index: 4;
}

.floorboard3 {
  /*border: 1px solid white;*/
  position: absolute;
  top: 320px;
  left: 70px;
  z-index: 4;
}

.floorboard4 {
  /*border: 1px solid white;*/
  position: absolute;
  top: 350px;
  left: 700px;
  z-index: 4;
}

.floorboard5 {
  /*border: 1px solid white;*/
  position: absolute;
  top: 70px;
  left: 600px;
  z-index: 4;
}

.floorboard6 {
  /*border: 1px solid white;*/
  position: absolute;
  top: 150px;
  left: 320px;
  z-index: 4;
}

.floorboard7 {
  /*border: 1px solid white;*/
  position: absolute;
  top: 70px;
  left: 70px;
  z-index: 4;
}

.floorboard7 {
  /*border: 1px solid white;*/
  position: absolute;
  top: 70px;
  left: 70px;
  z-index: 4;
}

.floorboard8 {
  /*border: 1px solid white;*/
  position: absolute;
  top: 450px;
  left: 800px;
  z-index: 4;
}

.floorboard9 {
  /*border: 1px solid white;*/
  position: absolute;
  top: 450px;
  left: 550px;
  z-index: 4;
}

.floorboard10 {
  /*border: 1px solid white;*/
  position: absolute;
  top: 150px;
  left: 720px;
  z-index: 4;
}




.bowl {
  position: absolute;
  top: 450px;
  left: 100px;
  z-index: 4;
}
