html,body {
  box-sizing: border-box;
  color: white;
  margin:0;
   font-family: 'IM Fell English', serif;

}

html{
  background-color: black;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.ghost{
  z-index: 2;
}

.boxforplay{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.playbox {
  display: flex;
  position: relative;
  width: 900px;
  height: 525px;
  border: #fcce00 1px dashed;
  z-index: 1;
  background-color: black;
  /*margin-bottom: -50px;*/


}

.boxforcontent{
  top: 0px;
  position: absolute;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
}



/*.content{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  border: 1px solid white;
  width: 100px;
  height: 100vh;

}*/

.switch{

  border: 1px solid #fcce00;
  border-radius: 5px;
  width: 110px;
  height: 110px;
  margin: 20px;
  font-size: 10px;
  text-align: center;
  border-style: outset;
}

h2{
  font-size: 15px;
  text-decoration: underline;
}

h1{
  font-size: 30px;
}

a {
    color: #fcce00;
    text-decoration: none;
}


.instruction1{

  border-radius: 5px;
  width: 125px;
  height: 125px;
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 10px;
  text-align: center;


}


.instruction2{

  border: 1px solid #fcce00;
  border-radius: 5px;
  width: 140px;
  height: 190px;
  margin: 20px;
  margin-top: 0;
  font-size: 12px;
  text-align: center;
    padding: 10px;
    border-style: outset;

}



.bounds{
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /*border: 1px solid red;*/
  top: 0px;
  left: calc(50% + 450px);
  width: 180px;
  height: 580px;
  z-index: 1;
    /*margin-bottom: -50px;*/
}

.bounds2{
  position: absolute;
  /*border: 1px solid red;*/
  top: calc(50% + 263px);
  left: calc(50% - 450px);
  width: 1000px;
  height: 100px;
  z-index: 1;
}



.lamp {
  position: absolute;
  top: 220px;
  left: 450px;
}

.chair {
  position: absolute;
  top: 200px;
  left: 100px;
}

.ball {
  position: absolute;
  top: 400px;
  left: 300px;
}

.plant {
  position: absolute;
  top: 70px;
  left: 200px;
}

.horse {
  position: absolute;
  top: 250px;
  left: 800px;
}

.frame {
  position: absolute;
  top: 150px;
  left: 600px;
}

.couch {
  position: absolute;
  top: 450px;
  left: 700px;
}


.closet {
  position: absolute;
  top: 250px;
  left: 250px;
}


.toilet {
  position: absolute;
  top: 70px;
  left: 400px;
}


.broom {
  position: absolute;
  top: 300px;
  left: 600px;
}


.floorboard {
  /*border: 1px solid white;*/
  position: absolute;
  top: 50px;
  left: 790px;
}

.floorboard2 {
  /*border: 1px solid white;*/
  position: absolute;
  top: 400px;
  left: 450px;
}

.floorboard3 {
  /*border: 1px solid white;*/
  position: absolute;
  top: 320px;
  left: 70px;
}

.floorboard4 {
  /*border: 1px solid white;*/
  position: absolute;
  top: 350px;
  left: 700px;
}

.floorboard5 {
  /*border: 1px solid white;*/
  position: absolute;
  top: 70px;
  left: 600px;
}

.floorboard6 {
  /*border: 1px solid white;*/
  position: absolute;
  top: 150px;
  left: 320px;
}

.floorboard7 {
  /*border: 1px solid white;*/
  position: absolute;
  top: 70px;
  left: 70px;
}

.floorboard7 {
  /*border: 1px solid white;*/
  position: absolute;
  top: 70px;
  left: 70px;
}

.floorboard8 {
  /*border: 1px solid white;*/
  position: absolute;
  top: 450px;
  left: 800px;
}

.floorboard9 {
  /*border: 1px solid white;*/
  position: absolute;
  top: 450px;
  left: 550px;
}

.floorboard10 {
  /*border: 1px solid white;*/
  position: absolute;
  top: 150px;
  left: 720px;
}




.bowl {
  position: absolute;
  top: 450px;
  left: 100px;
}
